In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

data = pd.read_csv("/content/melb_data.csv")
data

In [ ]:
data = pd.read_csv("/content/melb_data.csv")

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13580 entries, 0 to 13579
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Suburb         13580 non-null  object
 1   Address        13580 non-null  object
 2   Rooms          13580 non-null  int64
 3   Type           13580 non-null  object
 4   Price          13580 non-null  float64
 5   Method         13580 non-null  object
 6   SellerG        13580 non-null  object
 7   Date           13580 non-null  object
 8   Distance       13580 non-null  float64
 9   Postcode       13580 non-null  float64
 10  Bedroom2       13580 non-null  float64
 11  Bathroom       13580 non-null  float64
 12  Car            13518 non-null  float64
 13  Landsize       13580 non-null  float64
 14  BuildingArea   7130 non-null   float64
 15  YearBuilt      8205 non-null   float64
 16  CouncilArea    12211 non-null  object
 17  Lattitude      13580 non-null  float64
 18  Longtitude     13580 non-null  float64
 19  Regionname     13580 non-null  object
 20  Propertycount  13580 non-null  float64
dtypes: float64(12), int64(1), object(8)
memory usage: 2.2+ MB

In [ ]:
#describing
data.describe()

,Rooms,Price,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,Lattitude,Longtitude,Propertycount
count,13580.000000,1.358000e+04,13580.000000,13580.000000,13580.000000,13580.000000,13518.000000,13580.000000,7130.000000,8205.000000,13580.000000,13580.000000,13580.000000
mean,2.937997,1.075684e+06,10.137776,3105.301915,2.914728,1.534242,1.610075,558.416127,151.967650,1964.684217,-37.809203,144.995216,7454.417378
std,0.955748,6.393107e+05,5.868725,90.676964,0.965921,0.691712,0.962634,3990.669241,541.014538,37.273762,0.079260,0.103916,4378.581772
min,1.000000,8.500000e+04,0.000000,3000.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1196.000000,-38.182550,144.431810,249.000000
25%,2.000000,6.500000e+05,6.100000,3044.000000,2.000000,1.000000,1.000000,177.000000,93.000000,1940.000000,-37.856822,144.929600,4380.000000
50%,3.000000,9.030000e+05,9.200000,3084.000000,3.000000,1.000000,2.000000,440.000000,126.000000,1970.000000,-37.802355,145.000100,6555.000000
75%,3.000000,1.330000e+06,13.000000,3148.000000,3.000000,2.000000,2.000000,651.000000,174.000000,1999.000000,-37.756400,145.058305,10331.000000
max,10.000000,9.000000e+06,48.100000,3977.000000,20.000000,8.000000,10.000000,433014.000000,44515.000000,2018.000000,-37.408530,145.526350,21650.000000

above

count - count the no.of values in dataset

std (standard deviations) - measures the data how numarically spread out the values are.

mean - finds the average of data

min - shows the minimum values

25% - from min value to its quarter

50% - show in the median

75% - similar to 50%

max - shows the maximum value in dataset

In [ ]:
# we have so many no.of variables/columns in dataset how to convert this to useful and understand the data
# for now lets pick columns with our intituition. later we use learn to use statistical techniques to prioritize the variables
# for that we need to look at all cloumns/variables. we can use data_set.columns to see all columns

In [ ]:
#selecting columns
data.columns

Index(['Suburb', 'Address', 'Rooms', 'Type', 'Price', 'Method', 'SellerG',
       'Date', 'Distance', 'Postcode', 'Bedroom2', 'Bathroom', 'Car',
       'Landsize', 'BuildingArea', 'YearBuilt', 'CouncilArea', 'Lattitude',
       'Longtitude', 'Regionname', 'Propertycount'],
      dtype='object')

let's check wheather data have miss values using isnull().

In [ ]:
#checking missing values
data.isnull()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,True,True,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,True,True,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13575,False,False,False,False,False,False,False,False,False,False,...,False,False,False,True,False,True,False,False,False,False
13576,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,True,False,False,False,False
13577,False,False,False,False,False,False,False,False,False,False,...,False,False,False,True,False,True,False,False,False,False
13578,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,True,False,False,False,False
13579,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,True,False,False,False,False

In [ ]:
#removing missing values using dropna()
data = data.dropna(axis=0)
data.isnull()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
6,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
7,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12205,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
12206,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
12207,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
12209,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
12212,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

there are many ways to select subset of our data to predict the outcome. For now we follow 2 approches
- DotNotation - which we use to select the "prediction target"
- Selecting with a column list, which we use to select the "features"(selecting the columns which we give input for our model known as "features")

In [ ]:
#selecting the prediction target
#here we select/target a variable which generate output\
#We'll use the dot notation to select the column we want to predict, which is called the prediction target

In [ ]:
#the perdiction target is called y.
y = data.Price
y

1        1035000.0
2        1465000.0
4        1600000.0
6        1876000.0
7        1636000.0
           ...
12205     601000.0
12206    1050000.0
12207     385000.0
12209     560000.0
12212    2450000.0
Name: Price, Length: 6196, dtype: float64

Choosing "Features"

The columns that are inputted into our model (and later used to make predictions) are called "features." In our case, those would be the columns used to determine the home price. Sometimes, you will use all columns except the target as features. Other times you'll be better off with fewer features.

For now, we'll build a model with only a few features. Later on you'll see how to iterate and compare models built with different features.

We select multiple features by providing a list of column names inside brackets. Each item in that list should be a string (with quotes).

Here is an example:

In [ ]:
# we selected the the columns which we have predict .
# now select columns which varies prediction we want to make.
# sometime we select all columns except targeted variable. Now we just select few features and make as list.
# now store this list in the X. here x is input for model
# the data is called X

In [ ]:
# selecting features/columns
melbourne_feature = ['Rooms','Bathroom','Landsize','Lattitude','Longtitude']

In [ ]:
data.columns

Index(['Suburb', 'Address', 'Rooms', 'Type', 'Price', 'Method', 'SellerG',
       'Date', 'Distance', 'Postcode', 'Bedroom2', 'Bathroom', 'Car',
       'Landsize', 'BuildingArea', 'YearBuilt', 'CouncilArea', 'Lattitude',
       'Longtitude', 'Regionname', 'Propertycount'],
      dtype='object')

In [ ]:
#above we created a list. now adding that list to our existing dataset and storing that in X
X = data[melbourne_feature]

In [ ]:
# now let's find summary of X
X.describe()

             Rooms     Bathroom      Landsize    Lattitude   Longtitude
count  6196.000000  6196.000000   6196.000000  6196.000000  6196.000000
mean      2.931407     1.576340    471.006940   -37.807904   144.990201
std       0.971079     0.711362    897.449881     0.075850     0.099165
min       1.000000     1.000000      0.000000   -38.164920   144.542370
25%       2.000000     1.000000    152.000000   -37.855438   144.926198
50%       3.000000     1.000000    373.000000   -37.802250   144.995800
75%       4.000000     2.000000    628.000000   -37.758200   145.052700
max       8.000000     8.000000  37000.000000   -37.457090   145.526350

In [ ]:
#first 5 data of dataset
X.head()

   Rooms  Bathroom  Landsize  Lattitude  Longtitude
1      2       1.0     156.0   -37.8079    144.9934
2      3       2.0     134.0   -37.8093    144.9944
4      4       1.0     120.0   -37.8072    144.9941
6      3       2.0     245.0   -37.8024    144.9993
7      2       1.0     256.0   -37.8060    144.9954

In [ ]:
X.count()

Rooms         6196
Bathroom      6196
Landsize      6196
Lattitude     6196
Longtitude    6196
dtype: int64

Building our Model

scikit-Learn is popular lib used to create model. sklearn

In building a model we follow 4 imp step

1. Define - what type of model it is? a decision tree? Is there any some other model?
2. Fit - Caapture the patterns
3. predict - Predict the output
4. Evaluate - Check how accuarte our models are predicting

In [ ]:
# we are using sklearn.tree.DecisionTreeRegressor
# this DecisioTreeRegressor it try to predict the continuous traget variable (y) by cutting feature varible
# means how a dependent variable associated with independent variable

In [ ]:
from sklearn.tree import DecisionTreeRegressor
# first define a model. define the random_state to ensure same results in each run
mel_model = DecisionTreeRegressor(random_state=1)

# fit model
mel_model.fit(X,y)

DecisionTreeRegressor(random_state=1)

In [ ]:
print("Prediction the following 5 home : ")
print(X.head())
print("Predictions are as follows : ")
print(mel_model.predict(X.head()))

Prediction the following 5 home :
   Rooms  Bathroom  Landsize  Lattitude  Longtitude
1      2       1.0     156.0   -37.8079    144.9934
2      3       2.0     134.0   -37.8093    144.9944
4      4       1.0     120.0   -37.8072    144.9941
6      3       2.0     245.0   -37.8024    144.9993
7      2       1.0     256.0   -37.8060    144.9954
Predictions are as follows :
[1035000. 1465000. 1600000. 1876000. 1636000.]

Model Validation

Now we have a model which predict certain output. But have Accurate and correct predict does model is doing. For that we perform model validation.

The relevent measure of model quality is predictive accuracy. In other words does model predition is close to what actually happen.

many people make mistake in predictive accuracy. they make prediction with training data and compare with targeted value in training data.

TO solve this problem we summarize the model quality into understandable way.

we cant compare predicted values and actual values each of 10000 houses. So we do that in a single metrics.

There are many metrics for summarize the model quality. Here we use Mean Absolute Error(MAE)

here error = actual - predicted

Absolute Error refers to difference between prediction value and actual target value in training data.

MAE takes the average of absolute error. And this MAE value is the model quality score.

In [ ]:
# lets find the model quality score with the training data
from sklearn.metrics import mean_absolute_error
predic = mel_model.predict(X)

mae = mean_absolute_error(y, predic) #measuring the quality of model
mae

1115.7467183128902

In [ ]:
#the above measure is "in-sample". We used same data for model training and model validation. Its a bad practise.
#it give accurate prediction when measure with the same trained data. But when its face with new data the model generate
#inaccurate predictions
# for that we split the data into two parts 1.Training data 2.Validation data.
# we split the the input data i.e X as train_X & val_X and target value i.e y as train_y & val_y
#using train_test_split from model_selection

In [ ]:
from sklearn.model_selection import train_test_split

#spliting the data
train_X, val_X, train_y, val_y = train_test_split(X,y,random_state=0)

#fitting into the model
mel_model.fit(train_X,train_y)

#making the prediction
val_prediction = mel_model.predict(val_X)
count = 0
for i in val_prediction:
  count+=1

print("count = ",count)

#measuring
print(mean_absolute_error(val_y, val_prediction))

count =  1549
273518.01872175594

lets build the another model using Random Forest.

Here Random forest regressor another method for model building which prediction by using many trees and make prediction by averageing the prediction of each component of tree. It have i accuarecy if we train with default parameters.

In [ ]:
# we chech with two case
# 1 we perform with raw data X,y
# 2 we perform with split data train_x and train_y and find there absoulte error

In [ ]:
# 1st with row data
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error
from sklearn.model_selection import train_test_split
data = pd.read_csv('/content/melb_data.csv')

data = data.dropna()

y = data.Price

features = ['Rooms','Bathroom','Landsize','Lattitude','Longtitude']

X = data[features]

# building model with DecisionTreeRegressor
dt_model = DecisionTreeRegressor(random_state=1)

#fitting model with actual data
dt_model.fit(X,y)
dt_predic1 = dt_model.predict(X)
mae1 = mean_absolute_error(dt_predic1,y)
print("Decision Tree Regressor")
print("Mean Absolute Error for actual data:")
print(mae1)

#now split the data into train_X, val_x, train_y, val_y
train_X, val_X, train_y, val_y = train_test_split(X,y, random_state=1)

# fitting the model with split data for DesicionTreeRegressor
dt_model.fit(train_X,train_y)
dt_predic2 = dt_model.predict(val_X)
mae2 = mean_absolute_error(dt_predic2,val_y)
print("Mean Absolute Error for split data:")
print(mae2)


# lets built model with another method with RandomForestRegressor
rf_model = RandomForestRegressor(random_state = 1)

rf_model.fit(X,y)
rf_predic1 = rf_model.predict(X)

# mean absolute error
mae3 = mean_absolute_error(rf_predic1, y)
print("\nRandomForestRegressor")
print("Mean Absoulte Error for Raw data : ")
print(mae3)

#lets fit with split data
rf_model.fit(train_X,train_y)
rf_predic2 = rf_model.predict(val_X)

# absolute error
mae4 = mean_absolute_error(rf_predic2, val_y)
print("Mean Absoulte Error for split data : ")
print(mae4)

Decision Tree Regressor
Mean Absolute Error for actual data:
1115.7467183128902
Mean Absolute Error for split data:
251688.7630729503

RandomForestRegressor
Mean Absoulte Error for Raw data :
69449.27029081743
Mean Absoulte Error for split data :
190414.59149025998

In [ ]:
# lets try with new features
mealbourne_features = ['Distance','Bedroom2','Bathroom','BuildingArea','YearBuilt']

In [ ]:
#include to X
X1 = data[mealbourne_features]
y1 = data.Price

In [ ]:
X1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6196 entries, 1 to 12212
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Distance      6196 non-null   float64
 1   Bedroom2      6196 non-null   float64
 2   Bathroom      6196 non-null   float64
 3   BuildingArea  6196 non-null   float64
 4   YearBuilt     6196 non-null   float64
dtypes: float64(5)
memory usage: 290.4 KB

In [ ]:
model1 = DecisionTreeRegressor(random_state=1)

model1.fit(X1,y1)

act_pred1 = model1.predict(X1)
print("Actual prediction score(Decision Tree regressor) : ",mean_absolute_error(y1,act_pred1))

#Random forest
model2 = RandomForestRegressor(random_state=1)

model2.fit(X1,y1)

act_pred2 = model2.predict(X1)
print("Actual Data Prediction score(random forest regressor) : ",mean_absolute_error(y1,act_pred2))

#spliting the data
train_X1, val_X1, train_y1, val_y1 = train_test_split(X1,y1,random_state=1)

model1.fit(train_X1,train_y1)

sp_pred = model1.predict(val_X1)
print("Split data prediction score(Decision Tree Regressor) : ",mean_absolute_error(val_y1,sp_pred))

sp_pred2 = model2.predict(val_X1)
print("Split data prediction score(Random Forest regressor) : ",mean_absolute_error(val_y1,sp_pred2))

Actual prediction score(Decision Tree regressor) :  1947.371960404562
Actual Data Prediction score(random forest regressor) :  89754.64766303053
Split data prediction score(Decision Tree Regressor) :  316851.82117495156
Split data prediction score(Random Forest regressor) :  89979.53198442044

From now handling missing values

There are three approches to handle missing values

1. dropping columns which have missing values.
2. Imputaion - fill with some number.
3. Extension for Imputaion - create a new column which locate the impute entries.

In [ ]:
data2 = pd.read_csv('/content/melb_data.csv')

In [ ]:
y2 = data2.Price

# To keep things simple, we'll use only numerical predictors
melb_predictors = data2.drop(['Price'], axis=1)
X2 = melb_predictors.select_dtypes(exclude=['object'])

# Divide data into training and validation subsets
X2_train, X2_val, y2_train, y2_val = train_test_split(X2, y2, train_size=0.8, test_size=0.2,
                                                      random_state=0)

In [ ]:
# def which return the mean absolute error of model
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error

def model_score(X2_train,X2_val,y2_train,y2_val):
  model = RandomForestRegressor(n_estimators=10, random_state=0)
  model.fit(X2_train,y2_train)
  preds = model.predict(X2_val)
  return mean_absolute_error(y2_val, preds)

In [ ]:
# Approach 1
col_with_missing = [col for col in X2_train.columns
                    if X2_train[col].isnull().any()]

print(col_with_missing)

#dropping columns in training and validation data
drop_X2_train = X2_train.drop(col_with_missing,axis=1)
drop_X2_val = X2_val.drop(col_with_missing,axis=1)

print("MAE with removing columns with missing data : ")
print(model_score(drop_X2_train,drop_X2_val,y2_train,y2_val))

['Car', 'BuildingArea', 'YearBuilt']
MAE with removing columns with missing data :
183550.22137772635

In [ ]:
# Approach 2
# imputation here we fill the nan vallues with mean of existing values
from sklearn.impute import SimpleImputer

my_impute = SimpleImputer()

imp_X2_train = pd.DataFrame(my_impute.fit_transform(X2_train))
imp_X2_val = pd.DataFrame(my_impute.transform(X2_val))

# By performing imputation it remove column names then add again
imp_X2_train.columns = X2_train.columns
imp_X2_val.columns = X2_val.columns

print("Approach 2 (Imputation): ")
print(model_score(imp_X2_train,imp_X2_val,y2_train,y2_val))

Approach 2 (Imputation):
178166.46269899711

In [ ]:
# Approach 3
# we perfrom imputation and we need to track were impute as happen

# make a copy to avoid changing original data
X2_train_2 = X2_train.copy()
X2_val_2 = X2_val.copy()

#making new columns indicating what will be imputed
for col in col_with_missing:
  imp_X2_train_2 = pd.DataFrame(my_impute.fit_transform(X2_train_2))
  imp_X2_val_2 = pd.DataFrame(my_impute.transform(X2_val_2))

# imputation remove column name add back
imp_X2_train_2.columns = X2_train_2.columns
imp_X2_val_2.columns = X2_val_2.columns

print("MAE for Approach 3 (en extention to imputation):")
print(model_score(imp_X2_train_2,imp_X2_val_2,y2_train,y2_val))

MAE for Approach 3 (en extention to imputation):
178166.46269899711